---
import { CONST } from '../utils/constants'
import Analytics from '@vercel/analytics/astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="ui, ui design, web design, ui design process, ui/ux, desinging websites"
    />
    <meta name="description" content={CONST.description} />

    <meta name="author" content={CONST.name} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content={CONST.name} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content={`https://www.${CONST.name}.com/logo.png`} /> -->
    <!-- <meta property="og:image:alt" content="Logo of UI Design Process" /> -->
    <meta property="og:url" content={`https://www.${CONST.domain}.com`} />
    <meta property="og:description" content={CONST.description} />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ayushkumarkeira" />
    <meta name="twitter:creator" content="@ayushkumarkeira" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content={CONST.name} />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" /> -->

    <!-- <link rel="icon" type="image/png" href="/logo.png" /> -->
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://uidesignprocess.tech" />
  </head>
  <body class="min-h-screen">
    <slot />
    <Analytics />
  </body>
</html>
