---
import { CONST } from '../utils/constants'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta
      name="keywords"
      content="ui, ui design, web design, ui design process, ui/ux, desinging websites"
    />
    <meta name="description" content={CONST.description} />

    <meta name="author" content={CONST.name} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph (OG) Meta Tags -->
    <meta name="og:site_name" content={CONST.name} />
    <meta name="og:title" content={title} />
    <meta name="og:type" content="website" />
    <!-- <meta name="og:image" content={`https://www.${CONST.name}.com/logo.png`} /> -->
    <meta name="og:url" content={`https://www.${CONST.domain}.com`} />
    <meta name="og:description" content={CONST.description} />

    <!-- Twitter Card Meta Tag -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ayushkumarkeira" />
    <meta name="twitter:creator" content="@ayushkumarkeira" />

    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-title" content={CONST.name} />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- <link rel="icon" type="image/png" href="/logo.png" /> -->
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="sitemap" href="sitemap.xml" />
    <link rel="canonical" href={`https://www.${CONST.domain}.com/`} />
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html>
